body {
    margin: 0 auto;
    background: blue;
    font-family: sans-serif;
}

#logo {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: white;

}

h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;

}

h3 {
    position: absolute;
}


/*NAVIGATION*/
nav {
    position: sticky;
    top: 0;
}

nav:hover {}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1.5rem;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 1rem 5rem;
}


.video {
    margin: 0;

}

#myVideo {
    width: 100vw;
}

#country {
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 1rem 2rem;
    margin: 1rem 0;
    height: 25rem;
    background-image: url(krabi.jpg);
    /*
    height: 25rem;
    width: 13rem;
    background-image: url(krabi.jpg);
*/
    /*mynd*/
}

#course {
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 1rem 2rem;
    margin: 1rem 0;
    height: 17rem;
    background-image: url(srilanka.jpg)
}
footer{
        background-color: dimgray;
}
.footer {
    padding: 10px;

    width: 100%;
    margin: auto;
    text-align: center;


}

.copyright {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    line-height: 80px;
    text-align: center;
}

.footer-logo {
    text-align: center;
    margin: 30px auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 700px) {

    section {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}

@media screen and (min-width: 900px) {
    ul {
        justify-content: space-around;

    }

    nav a {
        padding: 0 50px;
    }

}
